.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.pink {
  color: pink;
}

.brown {
  color: brown;
}

.cyan {
  color: cyan;
}

.magenta {
  color: magenta;
}

.teal {
  color: teal;
}

.lime {
  color: lime;
}

.indigo {
  color: indigo;
}

.maroon {
  color: maroon;
}

.olive {
  color: olive;
}

.navy {
  color: navy;
}

.coral {
  color: coral;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.black {
  color: black;
}

.aquamarine {
  color: aquamarine;
}

.lavender {
  color: lavender;
}

.crimson {
  color: crimson;
}

.orchid {
  color: orchid;
}

.turquoise {
  color: turquoise;
}

.salmon {
  color: salmon;
}

.tan {
  color: tan;
}

.slategray {
  color: slategray;
}

.violet {
  color: violet;
}

.khaki {
  color: khaki;
}

.peru {
  color: peru;
}

.darkslateblue {
  color: darkslateblue;
}

.thistle {
  color: thistle;
}

.sienna {
  color: sienna;
}

.darkolivegreen {
  color: darkolivegreen;
}

.firebrick {
  color: firebrick;
}

.mediumvioletred {
  color: mediumvioletred;
}

.royalblue {
  color: royalblue;
}

.darkorchid {
  color: darkorchid;
}

.mediumseagreen {
  color: mediumseagreen;
}

.tomato {
  color: tomato;
}

.darkgoldenrod {
  color: darkgoldenrod;
}

.darkkhaki {
  color: darkkhaki;
}

.mediumslateblue {
  color: mediumslateblue;
}

.saddlebrown {
  color: saddlebrown;
}

.mediumaquamarine {
  color: mediumaquamarine;
}

.mediumorchid {
  color: mediumorchid;
}

.darkseagreen {
  color: darkseagreen;
}

.cornflowerblue {
  color: cornflowerblue;
}
